body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}
a {
  color: #00B7FF;
}

.navbar {
  text-align: center;
}
.name {
  opacity: .5;
}

.messageBoard {
  min-width: 400px;
}
.messageContainer {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

.message {
  width: fit-content;
  padding: 7px;
  background-color: rgb(206, 206, 246);
  border-radius: 10px;
  
}
.date {
  font-size: 10px;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

form {
  display: grid;
  grid-template-columns: 1fr .25fr;
}

input {
  
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(163, 163, 163);
}

input[type=submit] {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  transition: all 0.5s ease-out 0s;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(238, 234, 234);
}
input:hover {
  background-color: rgb(203, 197, 197);
}